* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #FFFFF0;
    background: black;
    height: 100vh;
}
.button_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.button_wrapper button {
    border: 2px solid whitesmoke;
    background: none;
    outline: none;
    margin: 1px;
    cursor: pointer;
}
.button_wrapper button:nth-child(even) {
    width: 120px;
    height: 55px;
    border-radius: 40px;
}
.button_wrapper button:nth-child(odd) {
    width: 80px;
    height: 35px;
    border-radius: 20px;
}
.button_wrapper i {
    color:#00BFFF;
}
canvas {
    width: 95vw;
}
